<%- include('partials/header') %>

  <div class="container">
    <h1>Cadastrar Usuário</h1>
    <form method="POST" action="/addUser">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" required><br>

      <label for="cpf">CPF:</label>
      <input type="text" name="cpf" required><br>

      <label for="senha">Senha:</label>
      <input type="password" name="senha" required><br>

      <label for="perfil">Perfil:</label>
      <select name="perfil" required>
        <option value="ADMIN">ADMIN</option>
        <option value="CLIENTE">CLIENTE</option>
      </select><br>

      <!-- E-mails -->
      <h3>E-mails</h3>
      <div id="emails">
        <div class="email-group">
          <input type="email" name="emails[0][email]" placeholder="E-mail" required>
          <label for="principalEmail">Principal:</label>
          <input type="radio" name="emails[0][principal]" value="1">
        </div>
      </div>
      <button type="button" onclick="addEmail()">Adicionar E-mail</button><br>

      <!-- Telefones -->
      <h3>Telefones</h3>
      <div id="telefones">
        <div class="telefone-group">
          <input type="tel" name="telefones[0][telefone]" placeholder="Telefone" required>
          <label for="principalTelefone">Principal:</label>
          <input type="radio" name="telefones[0][principal]" value="1">
        </div>
      </div>
      <button type="button" onclick="addTelefone()">Adicionar Telefone</button><br>

      <button type="submit">Cadastrar</button>
    </form>
  </div>

    <script>
      let emailCount = 1;
      let telefoneCount = 1;

      function addEmail() {
        const emailDiv = document.createElement('div');
        emailDiv.classList.add('email-group');
        emailDiv.innerHTML = `
          <input type="email" name="emails[${emailCount}][email]" placeholder="E-mail" required>
          <label for="principalEmail">Principal:</label>
          <input type="radio" name="emails[${emailCount}][principal]" value="1">
        `;
        document.getElementById('emails').appendChild(emailDiv);
        emailCount++;
      }

      function addTelefone() {
        const telefoneDiv = document.createElement('div');
        telefoneDiv.classList.add('telefone-group');
        telefoneDiv.innerHTML = `
          <input type="tel" name="telefones[${telefoneCount}][telefone]" placeholder="Telefone" required>
          <label for="principalTelefone">Principal:</label>
          <input type="radio" name="telefones[${telefoneCount}][principal]" value="1">
        `;
        document.getElementById('telefones').appendChild(telefoneDiv);
        telefoneCount++;
      }
    </script>

<%- include('partials/footer') %>
