<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Bem-vindo, <%= user.nome %>!</h1>
  <p>Perfil: <%= user.perfil %></p>
  <a href="/users">Ver usuários</a>
  <a href="/addUser">Cadastrar novo usuário</a>
  <a href="/logout">Sair</a>
</body>
</html>
