<%- include('partials/header', { titulo: 'Home' , usuario: session.usuario }) %>

  <div class="container">
    <h1>Bem-vindo, <%= session.usuario?.nome || "Usuário" %>!</h1>

    <div class="links">
      <a href="/users">Ver usuários</a>
      <a href="/addUser">Cadastrar novo usuário</a>
      <a href="/logout">Sair</a>
    </div>
  </div>

  <%- include('partials/footer') %>